<div class="card">
    <div class="row no-gutters">
        {{if .Params.thumbnail}}
        <div class="col-md-2 m-auto">
            <a href="{{.Permalink}}"><img class="mx-auto img-fluid card-img" src="{{relURL .Params.thumbnail}}" alt="{{.Title}}"></a>
        </div>
        {{end}}
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title"><a href="{{.Permalink}}">{{.Title}}</a></h5>
                <p class="card-text"><a href="{{.Permalink}}">{{.Description}}</a></p>
                <p class="card-text"><small class="text-muted"><a href="{{.Permalink}}">阅读全文</a></small></p>
            </div>
        </div>
    </div>
</div>
<div class="my-3"></div>