{{ define "main" }}
<main role="main" class="container main-container">
    {{- partial "announcement.html" . -}}
    <div class="row">
        <div class="col-md-9">
            {{ range  (.Paginate (where .Site.RegularPages  "Section" "not in" .Site.Params.docs)).Pages}}
            {{- partial "list-card.html" . -}}
            {{ end }}
            {{ template "_internal/pagination.html" . }}
        </div>
        <div class="col-md-3">
            {{- partial "categorys.html" . -}}
            {{- partial "related.html" . -}}
            {{- partial "tags.html" . -}}
        </div>
    </div>
</main>
{{ end }}
